h1{
    color: rgb(204, 124, 25);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(17, 133, 235);
}
.butoon-as{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
}
.div { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: rgb(29, 29, 56);
}
.my-button {
    padding: 10px 20px;
    background-color: #70af4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .my-button:hover {
    background-color: #45a049;
  }
  .my-button:active {
    background-color: #3e8e41;
  }
  .fot{
    
      background-color: #21cc27;
    
  }